<%-include("partials/headers")%>
<div class="error">
    <h1 style="margin: 0 auto; width:70%;color: lightseagreen;">
        <span style="font-size: 200px; ">
            404</span> No Such User Found</h1>
            <%=userData.message%>
</div>