<%-include("partials/headers")%>
<div class="error"  style="margin: 0 auto;text-align:center;color: lightslategray; background-color: white;">
    <h1>
        <span style="font-size: 150px; ">
            404</span></h1>
    <p>User <%=userData.message%></p>

</div>