<%-include("partials/headers")%>
<div class="containers">
 
<div class="search">
    <img src="/images/Octocat.png" style="width: 100px; margin-left: 80px;" alt="">
    <h5>Find Your Github Account Here</h5>
    <form class="form-group" action="/user" method="POST" >
        <label for="search">Username Here  </label>
        <input placeholder="write your github username"  class="form-control"  id="search" type="text" name="search">
        <button class="btn btn-md btn-warning m-2">Search</button>
    </form>
</div>
</div>

<%-include("partials/footer")%>
