<%-include("partials/headers")%>

<div class="search">
    <h1>Find Your GITHUB Account Here</h1>
    <form class="form-inline" action="/user" method="POST" style="display: block;">
        <label for="search">username :</label>
        <input placeholder="write your github username" id="search" type="text" name="search">
        <button class="btn btn-success">Search</button>
    </form>

</div>