<%-include("partials/headers")%>

<div class="search">
  <img
    src="/images/Octocat.png"
    id="avatar-img"
    alt="avatar not found"
  />
  <h5 id="header"">Find Your Github Account</h5>
  <form class="form-group" action="/user" method="POST">
    <label for="search">Username Here </label>
    <input
      dir="ltr"
      placeholder="write your github username ..."
      class="form-control"
      id="search"
      type="text"
      name="search"
    />
    <button class="btn-search">Search</button>
  </form>
</div>


<%-include("partials/footer")%>
