.search{
  width: 300px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.containers{
    background-color: #4287f5;
    height: 100vh;
    color: white;
}

.error{
    background-color: black;
    height: 100vh;
}

#img-home{
  width: 100px; 
  margin-left: 80px;
}

#div-error{
  margin: 0 auto;
  text-align:center;
  color: lightslategray; 
  background-color: white;
}