body {
  font-family: 'Ubuntu', sans-serif;
  background-color: rgb(10, 25, 47);
  color: rgb(136, 146, 176);
}

a {
  color: rgb(136, 146, 176);
}

a:hover {
  color: rgb(192, 197, 214);
}

.search {
  width: 300px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.containers {
  height: 100vh;

}

.error {
  height: 100vh;
}

#img-home {
  width: 100px;
  margin-left: 80px;
}

#div-error {
  margin: 0 auto;
  text-align: center;
  background-color: rgb(10, 25, 47);
  color: rgb(136, 146, 176);
}


.headshot {
  flex-shrink: 0;
  margin: 20px;
  height: calc(150px + 6vw);
  width: calc(150px + 6vw);
  border: calc(8px + 0.2vw) solid transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-size: cover;
  box-sizing: border-box;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.5);
}

.headshot-2 {
  border-radius: 50%;
  background-image: var(--img-url),
    linear-gradient(to bottom right, #517ac7, #3bcc62, #81bee9);
}

.repo-desc {
  font-family: 'Fredoka One', cursive;
}

.user-bio {
  letter-spacing: 6px;
}

@media(max-width:600px) {
  .extra {
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
  }
}